{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>My Real Estate App</title>
        
        <!--static css -->
        <link rel="stylesheet" href="{% static 'css/realestate.css' %}">
        
        <!--Bootstrap style -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        
        <!-- Font -->
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        
        
    </head>
    <body>
        <div class="page-header">
            <nav class="navbar navbar-expand-lg">
                <h1><a href="/" class="navbar-brand">A Mock Real Estate Site</a></h1>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                            <div class="add">
                                <!-- click the link and it calls a view 'post_new' -->
                                <a href="{% url 'post_new' %}" class="top-menu btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
                            </div>
                            <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}" class="top-menu">Logout</a>)</small></p>
                        {% else %}
                            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
                        {% endif %}
            
                        <!-- <button class="btn btn-default" onclick="func()" id="onsale"></button> -->
                        <form method="GET" class="form-inline my-2 my-lg-0">
                            <div class="form-control mr-sm-2" placeholder="all">
                                {{ filter.form.as_table }} 
                            </div>
                            <button type="submit" class="btn btn-default" value="Filter">Filter</button>
                        </form>
                    </ul>
                </div>
            </nav>
            
            <div class="border"></div>
        </div>
        
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                <!-- This block content will contain html from another template that entends this html file -->
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        
    </body>
</html>